<header class="bg-black">
  <nav>
    <div
      class="flex justify-between items-center max-w-screen-xl m-auto px-4 py-2 md:px-0 md:py-4"
    >
      <div class="flex justify-center items-center space-x-2">
        <img
          src="svg/icon-logo.svg"
          alt="Logo Logoipsum"
          class="w-8 h-8 md:w-10 md:h-10"
        />
        <p class="text-xl md:text-2xl text-white font-bold">Logoipsum</p>
      </div>
      <ul class="space-x-6 hidden md:flex md:flex-row">
        <li class="link"><a href="#">HOME</a></li>
        <li class="link"><a href="#">ABOUT US</a></li>
        <li class="link"><a href="#">OUR SERVICE</a></li>
        <li class="link"><a href="#">COMMUNITY</a></li>
      </ul>
    </div>
  </nav>
</header>
