<footer class="bg-principale ">
  <div class="flex flex-col max-w-screen-xl m-auto px-4 py-10 md:py-10 justify-center md:h-[300px] ">
    <div class="flex flex-col md:flex-row md:justify-between px-10 md:px-0">
      <div class="flex flex-col gap-5 ">
        <p class="text-sm text-center md:text-start text-white md:w-74">Travaillez plus intelligemment, collaborez plus
          efficacement. Essayez WorkSphere maintenant !
        </p>
        <div class="flex justify-center md:justify-start mb-5">
          <a href="#" class="btn">Démarrer</a>
        </div>
      </div>
      <div class="flex flex-col md:flex-row  gap-10">
        <div class=" flex flex-col items-center md:items-start px-20 ">
          <ul class="text-white text-center md:text-start ">
            <li class="text-sm font-extralight mb-5">PAGES</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Community</a></li>
          </ul>
        </div>

        <div
          class="flex flex-col justify-center md:justify-start items-center md:items-start text-center md:text-start px-10 ">
          <p class="text-white text-sm font-extralight mb-5">CONTACTS</p>
          <p class="text-white ">
            helloalogoipsum.com <br> 190 Lorem Ipsum,<br>Lyon 69000
          </p>
        </div>

      </div>
    </div>
    <div class="pt-10 flex flex-col md:flex-row  items-center md:justify-between gap-2 text-white ">
      <p class="order-2 md:order-0">© 2023 - Copyright </p>
      <div class="flex gap-3 order-1">
        <img src="svg/facebook.svg" alt="Logo facebook" class="w-6 h-6">
        <img src="svg/instagram.svg" alt="Logo instagram" class="w-6 h-6">
        <img src="svg/stand.svg" alt="Logo stand" class="w-6 h-6">
      </div>
    </div>
  </div>
</footer>