<section>
  <div class="bg-[url('/images/hero.png')] bg-cover bg-center bg-no-repeat h-[400px] md:h-[600px] m-2 md:m-5 rounded">
    <div class="w-full h-full flex flex-col justify-center items-center text-white text-center">
      <h1 class="text-3xl md:text-5xl text-title-white  font-bold ">TRAVAILLEZ</h1>
      <p class="text-3xl md:text-5xl text-title-white  font-bold ">INTELLIGEMMENT,</p>
      <p class="text-3xl md:text-5xl text-title-white  font-bold ">COLLABOREZ PARTOUT</p>
    </div>
  </div>
</section>