@import "tailwindcss";


@theme{
  --font-title: "Poppins", sans-serif;
  --font-text: "Roboto", sans-serif;
  --color-principale: theme(colors.teal.600);
  --color-active: theme(colors.teal.800);
  --color-texte: theme(colors.gray.500);
  --color-title-cards: theme(colors.gray.800);
  --color-title: theme(colors.gray.900);
}

* {
  @apply box-border;
}

body{
@apply m-0 font-[var(--font-text)];
}

h1,h2,h3{
  @apply font-[var(--font-title)] font-bold
}

.btn {
  @apply text-principale text-lg md:text-xl text-center font-title font-medium bg-white py-2 px-4 md:py-3 md:px-5  rounded-lg hover:border-3 hover:border-white hover:bg-principale hover:text-white active:bg-active
}

.link{
  @apply text-lg font-semibold text-title text-white hover:underline active:text-active 
}

.title-card{
  @apply text-title text-2xl font-bold group-hover:text-white
}

.card-tools{
  @apply shadow md:w-[400px] md:h-[300px] p-5 md:px-10 md:py-5 space-y-4 rounded-xl bg-white hover:bg-principale 
}

